{% extends 'base.html' %}

{% load humanize %}
{% block title %} | Browse Property Listings {% endblock %}
{% block content%}
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="{% url 'index' %}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item active"> Browse Properties</li>
        </ol>
      </nav>
    </div>
  </section>

  <!-- Properties -->
  <section id="properties" class="py-4">
    <div class="container">
      <div class="row">
        {% if properties %}
          {% for property in properties %}
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card property-preview">
              <img class="card-img-top" src="{{ property.photo_main.url}}" alt="">
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">${{ property.rent | intcomma}}</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="property-heading text-center">
                  <h4 class="text-primary">{{ property.title}}</h4>
                  <p>
                    <i class="fas fa-map-marker text-secondary"></i> {{ property.city}}, {{ property.st}} {{property.zipcode}}</p>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-th-large"></i> Sqft: {{ property.sqft}}</div>
                  <div class="col-6">
                    <i class="fas fa-car"></i> Parking: {{ property.garage}}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-bed"></i> Bedrooms: {{ property.bedrooms}}</div>
                  <div class="col-6">
                    <i class="fas fa-bath"></i> Bathrooms: {{ property.bathrooms}}</div>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-12">
                    <i class="fas fa-user"></i> {{ property.landlord}}</div>
                </div>
                <div class="row text-secondary pb-2">
                  <div class="col-6">
                    <i class="fas fa-clock"></i> {{ property.list_date | timesince}}</div>
                </div>
                <hr>
                <a href="{% url 'property' property.id %}" class="btn btn-primary btn-block">More Info</a>
              </div>
            </div>
          </div>
          {% endfor%}
        {% else %}
          <div class="col-md-12">
            <p>No Listing Found</p>
          </div>
        {% endif%}
        
      </div>

      <div class="row">
        <div class="col-md-12">
          {% if properties.has_other_pages %}
            <ul class="pagination">
              {% if properties.has_previous%}
                <li class="page-item">
                  <a class="page-link" href="?page={{properties.previous_page_number}}">&laquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#">&laquo;</a>
                </li>
              {% endif %}
              {% for i in properties.paginator.page_range %}
                {% if properties.number == i%}
                  <li class="page-item active">
                    <a class="page-link">{{i}}</a>
                  </li>
                {% else %}
                  <li class="page-item">
                    <a href="?page={{i}}" class="page-link">{{i}}</a>
                  </li>
                {%endif%}
              {%endfor%}
              {% if properties.has_next%}
                <li class="page-item">
                  <a class="page-link" href="?page={{properties.next_page_number}}">&raquo;</a>
                </li>
              {% else %}
                <li class="page-item disabled">
                  <a class="page-link" href="#">&raquo;</a>
                </li>
              {% endif %}
            </ul>
          {%endif%}
        </div>
      </div>
    </div>
  </section>
{% endblock%}